*{
	box-sizing: border-box;
}

body{
	background-color: lavender;
	margin: 0;
	padding: 5px;
    counter-reset: contador;
}

.progress-bar-animated{
    width: 0;
    animation: progress-bar-stripes .3s linear infinite,
    animation 5s ease-in-out forwards;
}

.progress-bar{
    width: 50%;

}

@keyframes animation{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }

}

h2{
  counter-increment: contador;
}


#numeroH2::after{
    content: counter(contador);
}

.card-img-top, .card{
    max-width: 200px;
}
