*{
	box-sizing: border-box;
}

body{
	background-color: lavender;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: Barbarian;
    src: url('Barbarian.ttf');
}

h1{
	font-family: Barbarian !important;
}
/*.carousel-item {
  height: 100vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/

@media only screen and (max-width: 768px) {
	.personal {
		width: 100%;
		display: block;
	}
}

