*{
	box-sizing: border-box;
}

body{
	background-color: lavender;
	margin: 0;
	padding: 0;
}

#jumbi{
	background-color: lightblue;
	margin: 5px;
	padding: 10px;
	text-align: center;
	color: green;
}

.cerrando{
	height: 18px;
	width: 18px;
}

.botones{
	margin: 15px;
}

#personalizado1{
	background-color: orange;
	border-color: black;
	border-radius: 0;
}

#personalizado2{
	background-color: yellow;
	border-color: black;
	border-radius: 0;
}

.botones-dph{
	margin: 15px;
}

.botones-dph button{
	background-color: red;
	border-radius: 4px;
	border:0;
}

.botones-dpv{
	margin: 15px;
}

.botones-dpv button{
	background-color: green;
	border-radius: 4px;
	border:0;
}
