*{
	
	box-sizing: border-box;
}

body{

background-color: lightblue;

}

header{

height: 400px;
background-image: url("../images/castle.jpg");

}

#alertalume{
	
	height: 80%;
}

.container-fluid{

	margin: 0;
	padding: 0;	

}

#imagenHeader{

	max-width: 100%;

}

.row{

	margin: 0;

}

.col-12{

	background-color: black;
	color: white;
	text-align: center;

}

#col6-1{
	background-color: orange;
	color: white;
}

#col6-2{
	background-color: green;
	color: white;
}

footer {
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}